.About {
    height: 100vh;
    width: 100%;
}

.about-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about-img {
    grid-column: 1;
    height: 100%;
    width: 100%;
    background-color: black;
}

.about-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.about-content {
    grid-column: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 40%;
    margin-left: 20%;
    width: 60%;
}

.about-content img {
    width: 30%;
}