.books-page {
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 0vh 5vw;
  }

  .books-container {
    /* background-color: black; */
    height: 100%;
  }
  
  .books-title {
    font-family: Futura;
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin: 20px 0px;
    color: #333;
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    justify-content: center;
    align-items: center;
  }