.logo img {
    width: 24vw;
    object-fit: contain;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Home {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw;
    background-image: url('/bg_img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .logo img {
      width: 50%;
    }
  }